.isichord2, .isichord3 {
   display: none;
}
button#chord1, button#chord2, button#chord3 {
    color: black;
    padding: 8px;
    width: 150px;
    text-align: center;
    background: ;
    font: 110% Arial;
    cursor: pointer;
    margin: 0 0 10px 0;
}
button#chord1:hover, button#chord2:hover, button#chord3:hover {
   
}
button#chord1:visited, button#chord2:visited, button#chord3:visited {

}
button#chord1 {
    margin: 0 0 0 58.45px;
}
button#chord3 {
    margin: 0 10px 0 0;
}
